/* 清除默认样式*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Microsoft Yahei;
}
a{
    text-decoration: none;
    color:inherit;
}
/* 公用部分*/
.page{
    position:absolute;
    top:50%;
    left:50%;
    width:320px;
    height:568px;
    box-shadow:0 0 4px 0 rgb(204, 204, 204);
    transform:translate(-50%, -50%);
}
.btn{
    width:120px;
    height:30px;
    cursor: pointer;
    text-align: center;
}
.btn-bg{
    line-height: 30px;
}
.btn-bd{
    line-height: 28px;
    border:1px solid #333;
}
.hidden{
    display: none;
}
.ipt-txt{
    width:160px;
    height:30px;
}
/* 欢迎页*/
.welcome{
    background-image: url(http://pic.58pic.com/58pic/15/78/05/31B58PIC92D_1024.jpg);
    background-size:100% 100%;
}
.welcome h1{
    text-align: center;
    color:red;
    margin-top:150px;
    margin-bottom: 120px;
}
.welcome h1:after{
    content:'V 0.0.1';
    font-size:16px;
    position:relative;
    top:3px;
    left: 10px;
}
.welcome h2{
    line-height: 2;
}
.welcome .btn{
    display: block;
    margin:0 auto;
}
.welcome .btn-bg.start{
    background:limegreen;
    color:whitesmoke;
}
.welcome .btn-bg.setting{
    background:gray;
    margin-top:10px;
    color:whitesmoke;
}
.welcome .btn-bg.exit{
    background: orangered;
    margin-top:10px;
    color:whitesmoke;
}
.dialog{
    position:absolute;
    top:50%;
    left:50%;
    width:300px;
    height:540px;
    box-shadow:0 0 4px 0 rgb(204, 204, 204);
    background-color:rgba(255, 255, 255, .85);
    transform:translate(-50%, -50%);
}
.welcome .dialog{
    text-align: center;
}
.welcome .dialog .ipt-txt{
    margin-top: 10px;
    padding-right:8px;
    padding-left:8px;
}
.welcome .btn.btn-bd.sure{
    margin-top:300px;
    background: whitesmoke;
    border-color:#666;
    color:#666;
}
/*加载页*/
.loading{
    background: black;
}
.loading .loading-text{
    color:whitesmoke;
    text-align: center;
    margin-top: 400px;
}
.loading .loading-text:after{
    content: '%';
}
.loading .frame{
    width:300px;
    height:20px;
    border: 1px solid whitesmoke;
    margin:10px auto 0;
}
.loading .frame .progress{
    background: whitesmoke;
    height:100%;
    width:0;
}
/*主页*/
.main{
    background:whitesmoke;
}
.main .btn{
    display: block;
}
.main .btn.back{
    background:gray;
    float:right;
    color:whitesmoke;
}
.main .header{
    padding:20px;
    overflow: hidden;
}
.main .footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    border-top:1px solid #ccc;
    padding-bottom: 20px;
}
.main .btn.startMain{
    background:limegreen;
    margin:10px auto 0;
    color:whitesmoke;
}
.main .btn.congratulate{
    background:orange;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    color:whitesmoke;
}
.main .btn.regret{
    background:gray;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    color:whitesmoke;
}
.main .ipt-txt{
    vertical-align: middle;
    margin-top: 10px;
}
.box{
    width:40px;
    height:40px;
    border:1px solid #ccc;
    display: inline-block;
    background: orange;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    color:whitesmoke;
}
.container{
    padding:20px;
    padding-top:0;
}
.boxRun{
    background: whitesmoke;
    color:#333;
}
.boxEnd{
    animation: play 3s 1;
}
@keyframes play {
    0%{
        background: pink;
        color:black;
    }
    20%{
        background: pink;
        color:black;
    }
    21%{
        background: whitesmoke;
        color:#333;
    }
    40%{
        background: whitesmoke;
        color:#333;
    }
    41%{
        background: pink;
        color:black;
    }
    60%{
        background: pink;
        color:black;
    }
    61%{
        background: whitesmoke;
        color:#333;
    }
    80%{
        background: whitesmoke;
        color:#333;
    }
    81%{
        background: pink;
        color:black;
    }
    100%{
        background: pink;
        color:black;
    }
}